* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.jetbrains-mono {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}


.nav-links {
    list-style-type: none;
    padding: 0;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links a {
    text-decoration: underline;
    color: #333;
}

.menu-topo{
    cursor: pointer;
}


body {
    font-family: "JetBrains Mono", monospace, 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

header {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

.tagline {
    font-style: italic;
    font-size: 1.2em;
}

.post {
    background: #fff;
    margin: 20px 0;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.post h2 {
    font-size: 1.8em;
    color: #333;
}

.post section {
    margin: 15px 0;
}

.post h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #666;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

footer p {
    margin: 0;
}

ul {
    padding-left: 40px;
}